.layout-wrapper {
  min-width: 280px;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%), url('../../../assets/images/weather/clouds.png');
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h2 {
    color: #fff;
    font-size: 18px;
  }

  .weather-info {
    display: flex;
    align-items: center;
    padding-bottom: 40px;
    padding-left: 60px;

    @media (max-width: 1020px) {
      margin: 0 auto;
      padding-left: 0;
    }

    .degree {
      margin-right: 30px;
      color: #fff;
      font-size: 120px;

      p {
        display: inline;
      }

      span {
        font-size: 110px;
      }

    }

    .city {
      margin-right: 30px;
      color: #fff;
      font-size: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .logo {
        padding-bottom: 30px;
      }

      .city-date {
        font-size: 20px;
        margin-top: 5px;
      }
    }

    .weather {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #fff;
      font-size: 50px;

      .weather-title {
        font-size: 20px;
      }

      .weather-icon {
        img {
          width: 50px;
          height: 50px;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  #weatherInfo {
    padding-bottom: 30px;

    .degree {
      margin-right: 10px;
      color: #fff;
      font-size: 70px;

      span {
        font-size: 60px;
      }

    }

    .city {
      margin-right: 10px;
      font-size: 30px;

      .city-date {
        font-size: 18px;
        margin-top: 5px;
      }
    }

    .weather {
      font-size: 30px;

      .weather-title {
        font-size: 18px;
      }

      .weather-icon {
        img {
          width: 40px;
          height: 40px;
        }
      }
    }
  }

}

@media (max-width: 340px) {
  #weatherInfo {
    .weather-title {
      p {
        font-size: 14px;
      }
    }
  }

}
